<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341707481053-9sjh5a80ve2jolj77inhsd822h06bgm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341707481053-9sjh5a80ve2jolj77inhsd822h06bgm9</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0DzRRUg78mJVZkzjn7h02SYMg-Q7dH0</string>
	<key>GCM_SENDER_ID</key>
	<string>341707481053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterKnottedTdd</string>
	<key>PROJECT_ID</key>
	<string>knotted-donut</string>
	<key>STORAGE_BUCKET</key>
	<string>knotted-donut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341707481053:ios:f9f5130c5d538eb220a034</string>
</dict>
</plist>